@model IList<Domain.DTOs.Read.StudentResponseDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1>Index</h1>

    <h4>Student</h4>
    <hr />
    <table>
        <tr>
            <th>FullName</th>
            <th>Pin</th>
            <th>Email</th>
            <th>GroupId</th>
        </tr>
     
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name + @item.LastName</td>
            <td>@item.PIN</td>
            <td>@item.Email</td>
        </tr>
        }
   </table>
